/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, sans-serif;
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

// Base

body {
  margin: 0;
  padding: 4em;
  background: #111;
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    max-width: 48em;
    p {
      font-size: 1.25rem;
      line-height: 1.35;
      color: #aaa;
      strong {
        font-weight: normal;
        color: #fff;
      }
    }
  }
}